<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gseps.lng.operation.repository.CityMapper">
    <select id="findByState" resultType="City">
       SELECT 1000 as id
            , 'City Name' as name
            , 'City State' as state
            , 'City Country' as country
    </select>
</mapper>